*{
    margin: 0;
    border: 0;

}

:root{
    --primary-color:#333;
    --second-color:#94d82d;
    --third-color:#e9fac8;
}

body{
    display: flex;
    background-color:var(--third-color);
    flex-direction: column;
    align-items: center;
    width: 100vw;
    font-size: 16px;
    font-family: sans-serif;
    overflow: hidden;
    color:var(--primary-color);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.round{
    height: 70px;
    width: 100vw;
    margin-top: 40px;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.imgs{
   display: flex;  
   width: 70%;
   height: 260px;
   justify-content: space-between;
   position: relative;
   margin-top: 60px;
}

.imgs .gust{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 70%;
}

.left,.right{
    width: 120px;
    height: 120px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.l-player,
.r-player{
  font-weight: 100;
  font-size: 14px;
  height: 30px;
}

.cscore,.myscore{
    height: 20px;
    padding: 16px 0;
}

.robbot{
    opacity: 0;
    width: 100px;
    margin-top: 100px;
    position: absolute;
    transition: 0.4s ease;
}

.user{
    opacity: 0;
    width: 100px;
    margin-top: 100px;
    transition: 0.4s ease;
    position: absolute;
}


.next-round{
    border: none;
    border-radius: 6px;
    top: 40%;
    left: 50%;
    padding: 4px 6px;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: 1;
    
}

.form-dialog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    height:100px;
}

.select{
    margin-left: 6px;
    border: 1px solid var(--third-color);
}

.confirm{
    background-color: var(--second-color);
    width: 60px;
    margin-top: 10px;
    padding:6px 4px;
    border-radius: 4px;
    cursor: pointer;
}

.begin{
    display: none;
    background-color: #33333384;
    color: var(--primary-color);
    padding: 16px 38px;
    border-radius: 18px;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.formlabel{
    display:flex;
    width: 50px;
    height: 30px;
    text-align: left;
}


.begin .name,
.begin .roundnum{
    border: var(--third-color) solid 1px;
    margin-bottom:6px;
    border-radius: 4px;
    border: none;
    height:30px;
}

.beginbtn{
    display: flex;
    justify-content: center;
}

.beginbtn1{
    width:60px;
    padding: 4px 6px;
    height: 24px;
    margin-top:20px;
    background-color: var(--second-color);
    color: var(--primary-color);
    border-radius: 8px;
}


.winner{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    color: #333;
}


.show-btn0{
    margin-top: 90px;
    position: absolute;
    margin-top: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color:var(--second-color);
    color: var(--primary-color);
    padding: 8px 12px;
    border-radius: 6px;
   cursor: pointer;
}

.footer{
    width: 100vw;
    height: 100px;
}

.show-btn,
.show-btn1{
    margin-top: 90px;
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color:var(--second-color);
    color: var(--primary-color);
    padding: 8px 12px;
    border-radius: 6px;
   cursor: pointer;
}

.win,.last-win{
    margin-top: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
}